<!DOCTYPE html>


<html>

  <head>
    <title>{{title}} -- {{id}}</title>
  </head>

  <body>
    <h1>
       {{title}}
       <h3>Original author: {{author}}</h3>
       <h4>Last edited by: {{last_editor}}</h4>
       <hr>
    </h1>
	<p>
	{{content}}
  <hr>
	</p>

	<h3>
	  
	  <form action = "{{ url_for('story', id=id) }}" method = 'POST'>
	    <p> Add to the story!  </p>
        <input type="text" name="content" placeholder = "Story Description">
        <input title = "Submit" type="submit" name="sub1">
      </form>

    </h3>

	<h2>
	{{ exception }}
	</h2>

  <form>
	  <button title = "Return to Home Page" type="submit" formaction="http://127.0.0.1:5000/home"> Come Back Home!</button>
	</form>

  <body>
</html>
