<!DOCTYPE html>


<html>

  <head>
    <title>Start a story</title>
  </head>

  <body>
    <h1>
      Creating Your Story
      <hr>
    </h1>
  
      <form action= "/create" method="POST">
        <p> Title </p>
        <input type="text" name="title" placeholder= "Enter Story Title ">
        <p> Start your Story </p>
        <input type="text" name="story" placeholder= "Enter Story Descriiption">

        <input title = "Submit" type="submit" name="sub1">
      </form>

  </body>


</html>
