<!DOCTYPE html>


<html>

  <head>
    <title>Home</title>
  </head>

  <body>
    <h1>
      Hello, {{username}}! This is your home page!
    <h1>

    <h2>
      Profile
    </h2>

    <table>
      <tr>
        <th>Your stories</th>
      </tr>

      <tr>
        <td>
          <a href="{{ url_for('home') }}"> {{content}}</a>
        </td>
      </tr>
    </table>

    <h2>
      Have a look at this story!
    </h2>

    <a href="{{ url_for('home') }}">content</a>

    <h2>
      Done?
    <h2>
	<form>
	  <button type="submit" formaction="http://127.0.0.1:5000/logout" method="GET">Logout Here!</button>
	</form>

  <body>
</html>
